/*Stylesheet by Autumn Hurley*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

/*SITEWIDE STYLING RULES*/

/*general*/
body{
    /*redo using grid layout*/
    font-family: 'Roboto Mono';
}

h1, h2, h3, h4{
    color: white;
}

h1{
    font-weight: 600;
    font-size: 20px;
}
h2{
    font-weight: 400;
    font-size: 18px;
}

ul{

}

p{
    font-size: 12px;
}

a{
    text-decoration: none;
    color: gray;
}

canvas{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
/*divs*/

.main-content{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 50px;
}
.main-content ul{
    list-style-type: none;
}
.main-content a{
    transition: color 0.2s , translate 0.3s;
}
.main-content a:hover{
    animation: fadein 0.2s ease-out 1;
    color: white;
    translate: 5px 0px;
}
.main-content #about{
    padding:5px;
    color: white;
    outline: white 1px solid;
    margin-right: 60%;
    scale: 0;
    opacity: 0;
    transition: 0.2s;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
}
.header ul{
    list-style-type: none;
}
.header li{
    display: inline;
    margin-left: 10px;
    transition: 0.3s;
}
.header li:hover{
    text-decoration: underline;
    background-color: rgb(70, 70, 70);
}
.header a h1, .header a h2{
    display: inline-block;
}

@keyframes fadein {
    0%{ 
        color: gray;
        translate: 0px 0px;
    }
    100%{ 
        color: white;
        translate: 5px 0px;
    }
}


/*PAGE-SPECIFIC: index.html*/
/*PAGE-SPECIFIC: about.html*/